.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

form {
  width: 16em;
  margin: 0 auto 0 auto;
}

form label {
  display: inline-block;
  padding: 0.5em 5%;
  text-align: right;
  width: 30%;
}

form input,
form select {
  width: 55%;
}

form button {
  margin: 10%;
}

.errorMsg {
  text-align: right;
  font-size: 0.8em;
  color: red;
}
