.App {
  padding:1em;
  max-width: 30em;
  margin: 10em auto;
}

li{
  padding-bottom: 1em;
}

label{
  padding-right: 1em;
}

section{

  margin-bottom: 6em;

}

table{

  width: 100%;
  border-spacing: 0 0.15em;
}

td{
  padding: 0.5em;
  text-align: center;


}

th{
   padding: 0.6em;
  
}